/* ================= CONNECTION OF FONTS ================= */
@import url("fonts.css");
/* ======================================================= */

/* ===================== RESET STYLES ==================== */
@import url("reset.css");
/* ======================================================= */

/* ===================== BASIC STYLES ==================== */
body {
    color: #7D7D7D;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
}
[class*="__container"] {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ------------------------ HEADER ----------------------- */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
/* -------------- HEADER-TOP ------------- */
.header__top {
    color: #FFF;
    background-color: #37393F;
}
.header__container {
}
.header__content-top {
    font-size: 0;
    padding: 19px 0;
    text-align: justify;
}
.header__content-top::before {
    content: "";
    display: block;
    width: 100%;
}
.header__content-top::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.header__content-top > *:not(:last-child) {
    margin-right: 40px;
}
.header__contacts {
    position: relative;
}
.contacts-header {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.contacts-header > *:not(:last-child) {
    margin-right: 42px;
}
.contacts-header__link {
    font-size: 14px;
    line-height: 1.21;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.contacts-header__link:hover {
    color: #40DDB6;
}
.contacts-header__link--location {
    padding-left: 27px;
}
.contacts-header__link--location::before {
    content: "";
    background: url(../img/header/icon_location.svg) center / contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
    height: 24px;
}
.contacts-header__link--mail {
    padding-left: 34px;
}
.contacts-header__link--mail::before {
    content: "";
    background: url(../img/header/icon_mail.svg) center / contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform:  translate(0, -50%);
    width: 23px;
    height: 18px;
}
.header__info {
    font-size: 0;
    display: inline-block;
    position: relative;
}
.header__info > *:not(:last-child) {
    margin-right: 50px;
}
.header__time {
    font-size: 14px;
    line-height: 1.21;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 21px;
}
.header__time::before {
    content: "";
    background: url(../img/header/icon_time.svg) center / contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 17px;
    height: 16px;
}
.header__socials {
}
.socials {
    font-size: 0;
    display: inline-block;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
}
.socials__item:hover {
    transform: scale(1.2);
}
.socials__item:not(:last-child) {
    margin-right: 16px;
}
.socials__link {
}
.socials__image {
}
/* --------------------------------------- */

/* -------------- HEADER-MAIN ------------ */
.header__main {
    color: #37393F;
    background: #FFF;
}
.header__container {
}
.header__content-main {
    font-size: 0;
    padding: 30px 0 36px 0;
    text-align: justify;
}
.header__content-main::before {
    content: "";
    display: block;
    width: 100%;
}
.header__content-main::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.header__content-main > *:not(:last-child) {
    margin-right: 40px;
}
.header__logo {
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.logo:hover .logo__text {
    color: #40DDB6;
}
.logo__link {
    font-size: 0;
    vertical-align: middle;
}
.logo__image {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0;
}
.logo__text {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 1.52;
    display: inline-block;
    vertical-align: middle;
}
.logo__text span {
    color: #6B77E5;
}
.header__nav {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.header__nav > *:not(:last-child) {
    margin-right: 40px;
}
.header__menu {
    display: inline-block;
}
.menu-header {
    font-size: 0;
    vertical-align: middle;
    padding: 10px 0;
}
.menu-header > li:not(:last-child) {
    margin-right: 40px;
}
.menu-header__item {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
    position: relative;
    padding: 5px 0;
}
.menu-header__item:hover .menu-header__submenu {
    visibility: visible;
}
.menu-header__item--hasmenu {
    padding-right: 17px;
}
.menu-header__item--hasmenu::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 10px;
    height: 7px;
    transform: translate(-100%, -50%);
    background: url(../img/header/icon_arrow_down.svg) center / contain no-repeat;
}
.menu-header__limk {
}
.menu-header__limk:hover {
    color: #6B77E5;
}
.header__btn {
    color: #FFFFFF;
    text-align: center;
    font-family: "Cabin";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-transform: capitalize;
    padding: 21px 35px 22px;
    background-color: #6B77E5;
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
}
.header__btn:hover {
    background-color: #40DDB6;
}
/* --------------------------------------- */

/* ------- SUBMENU ------- */
.menu-header__submenu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
}
.submenu {
    background: rgba(255, 255, 255, 1);
    width: 200px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 3px rgba(0, 8, 29, 0.05);
}
.submenu__item {
    text-align: left;
    position: relative;
    border-radius: 6px;
}
.submenu__item:hover {
    background: rgba(108, 120, 229, 0.15);
}
.submenu__item:hover .third-level-menu {
    visibility: visible;
}
.submenu__link {
    display: block;
    padding: 8px 10px;
}
.submenu__item--hasmenu > a {
    padding-right: 17px;
}
.submenu__item--hasmenu > a::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    width: 6px;
    height: 11px;
    transform: translate(0, -50%);
    background: url(../img/header/icon_arrow_right.svg) center / contain no-repeat;
}
/* ----------------------- */

/* --- THIRD LEVEL MENU -- */
.submenu__menu {
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
}
.third-level-menu {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 3px rgba(0, 8, 29, 0.05);
}
.third-level-menu__item {
    border-radius: 6px;
}
.third-level-menu__item:hover {
    background: rgba(108, 120, 229, 0.15);
}
.third-level-menu__link {
    display: block;
    padding: 8px 10px;
}
/* ----------------------- */
/* ------------------------------------------------------- */

/* ------------------------- MAIN ------------------------ */
.page {
    padding-top: 187px;
}
.page > * {
    margin-bottom: 150px;
}
.page__practice {
}
.page__car {
}
.page__experts {
}

/* --------------- PRACTICE -------------- */
.practice {
}
.practice__container {
}
.practice__title {
    color: #37393F;
    font-size: 40px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
    margin-bottom: 20px;
}
.practice__box {
    position: relative;
}
.practice__item {
}
.item {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}
.item--one {
    background-color: #40DDB6;
    position: sticky;
    left: 0;
    top: 187px;
    z-index: 5;
}
.item--two {
    background-color: blueviolet;
    position: relative;
    left: 0;
    top: 0;
    width: 25%;
}
.item--three {
    background-color: blueviolet;
    position: relative;
    left: 100%;
    top: -50px;
    width: 25%;
    transform: translate(-100%, 0);
}
.item--four,
.item--five,
.item--six {
    color: #FFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    line-height: 100px;
    background: rgba(128, 0, 128, 0.2);
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
}
.item--four {
    left: 0;
}
.item--five {
    right: 0;
}
.item--six {
    left: 50%;
    transform: translate(-50%, -100%);
}
/* --------------------------------------- */

/* ------------------ CAR ---------------- */
.car {
}
.car__container {
    font-size: 0;
}
.car__image {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: sticky;
    left: 0;
    top: 187px;
}
.car__image img {
    width: 100%;
}
.car__content {
    display: inline-block;
    width: 50%;
    padding: 0 0 0 30px;
}
.car__content--left {
    padding: 0 30px 0 0;
}
.car__content > *:not(:last-child) {
    margin-bottom: 25px;
}
.car__title {
    text-align: center;
    color: #37393F;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
}
.car__text {
    font-size: 18px;
    text-align: justify;
}
.car__text > p:not(:last-child) {
    margin-bottom: 15px;
}
/* --------------------------------------- */

/* ---------------- EXPERTS -------------- */
.experts {
}
.experts__container {
}
.experts__rows {
}
.experts__row {
}
.experts__rows > li:not(:last-child) {
    margin-bottom: 31px;
}
.experts__cards {
    margin: 0 calc(-15.5 / 1220 * 100%);
    font-size: 0;
}
.experts__card {
    padding: 0 calc(15.5 / 1251 * 100%);
}
.card-experts {
    display: inline-block;
    width: calc(417 / 1251 * 100%);
    min-width: 290px;
}
.card-experts:hover .card-experts__body::before {
    visibility: visible;
}
.card-experts:hover .card-experts__social {
    visibility: visible;
}
.card-experts__body {
    position: relative;
}
.card-experts__body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(107, 119, 229, 0.70);
    visibility: hidden;
}
.card-experts__image {
    width: 100%;
}
.card-experts__social {
    visibility: hidden;
}
.social-networks {
    font-size: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
    transform: translate(0,-50%);
    width: 100%;
}
.social-networks__item {
    display: inline-block;
    width: calc(50 / 386 * 100%);
    border-radius: 50%;
    overflow: hidden;
}
.social-networks__item:hover {
    box-shadow: 0px 0px 6px 4px #FFF;
}
.social-networks__item:not(:last-child) {
    margin-right: calc(13 / 386 * 100%);
}
.social-networks__link {
    display: inline-block;
    width: 100%;
}
.social-networks__icon {
    width: 100%;
}
.card-experts__desc {
    position: absolute;
    left: 0;
    bottom: 0;
}
.desc-card {
    width: 100%;
    padding: calc(22 / 386 * 100%);
}
.desc-card__body {
    background-color: #FFF;
    text-align: center;
    padding: calc(24 / 342 * 100%);
}
.desc-card__body > *:not(:last-child) {
    margin-bottom: 4px;
}
.desc-card__name {
    color: #37393F;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    line-height: 1.52;
}
.desc-card__position {
    font-size: 18px;
    line-height: 1.35;
}
/* --------------------------------------- */

/* ------------------------------------------------------- */

/* ------------------------ FOOTER ----------------------- */
.footer {
    background-color: #37393F;
    padding: 60px 0;
}
/* .footer__container {
} */
.footer__row {
    font-size: 0;
    text-align: justify;
}
.footer__row::before {
    content: "";
    display: block;
    width: 100%;
}
.footer__row::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.footer__logo {
    margin: 0 60px 0 0;
}
.logo__text--light {
    color: #FFFFFF;
}
/* .footer__list {
} */
.list-contacts {
    display: inline-block;
}
.list-contacts__item {
    display: inline-block;
}
.list-contacts > li:not(:last-child) {
    margin: 0 60px 0 0;
}
.list-contacts__image {
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.list-contacts__content {
    display: inline-block;
    vertical-align: middle;
}
.list-contacts__label {
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    margin: 0 0 3px 0;
}
.list-contacts__limk {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.22;
}
.list-contacts__limk:hover {
    color: #40DDB6;
}
/* ------------------------------------------------------- */

/* ======================================================= */