/* ================= CONNECTION OF FONTS ================= */
@import url("fonts.css");
/* ======================================================= */

/* ===================== RESET STYLES ==================== */
@import url("reset.css");
/* ======================================================= */

/* ===================== BASIC STYLES ==================== */
body {
    font-family: "Inter", sans-serif;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------------------ HEADER ----------------------- */
.header {
    padding: 40px 0;
    background: #3C4242;
}
.header__container {
}
.header__content {
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    font-size: 38px;
}
@media (max-width: 740px) {
    .header {
        padding: 25px 0;
    }
    .header__content {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    .header {
        padding: 15px 0;
    }
    .header__content {
        font-size: 28px;
    }
}
/* ------------------------------------------------------- */

/* ------------------------- MAIN ------------------------ */
.page {
    flex: 1 1 auto;
}

/* -------- OURS POPULAR PRODUCTS -------- */
.ours-popular-products {
    background: #FEFAF4 url("../img/main/ours_popular_products/flower.webp") right 469px / 193px no-repeat;
    padding: 125px 0;
}
.ours-popular-products__container {
    max-width: 1197px;
}
.ours-popular-products__container > *:not(:last-child) {
    margin-bottom: 53px;
}

/* ----- HEAD SECTION ---- */
.head-section {
}
.head-section > *:not(:last-child) {
    margin-bottom: 23px;
}
.head-section__title {
    text-transform: capitalize;
    font-size: 58px;
    line-height: 1.1;
}
.head-section__title--op {
    font-size: 48px;
    line-height: 1.27;
}
.title {
    font-family: "DM Serif Text", serif;
}
.head-section__text {
    text-transform: capitalize;
    color: #606060;
    font-size: 20px;
    line-height: 1.8;
}
.head-section__text--mpp {
    color: #818181;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
}
.head-section__text--op {
    text-transform: none;
    color: #EBEBEB;
    font-weight: 500;
    line-height: 1.27;
}
/* ----------------------- */

.ours-popular-products__cards {
    margin: 0 calc(-24 / 1167 * 100%);
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

/* --------- CARD -------- */
.card {
    flex: 0 1 calc(100% / 3);
    padding: 0 calc(24 / 1215 * 100%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card__link-image {
    aspect-ratio: 357 / 240;
    transition: opacity 0.3s;
}
@media (any-hover: hover) {
    .card__link-image:hover {
        opacity: 0.7;
    }
}
.card__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;
}
.card__title {
    font-size: 24px;
    line-height: 1.2;
    flex: 0 1 auto;
}
.card__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card__text {
    line-height: 1.6;
    opacity: 0.7;
    flex: 1 1 auto;
}
.card__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__link-text {
    color: #F55529;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: underline 2px rgba(245, 85, 41, 0);
    transition: text-decoration 0.3s;
}
@media (any-hover: hover) {
    .card__link-text:hover {
        text-decoration: underline 2px rgba(245, 85, 41, 1);
    }
}
.card__link-icon {
    width: 24px;
    height: 24px;
    position: relative;
}
.card__icon {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.2s cubic-bezier(0.5, -1, 0.5, 0);
}
@media (any-hover: hover) {
    .card__link-icon:hover .card__icon {
        left: 2px;
    }
}
/* ----------------------- */

@media (max-width: 1400px) {
    .ours-popular-products {
        background: #FEFAF4;
    }
}
@media (max-width: 1024px) {
    .ours-popular-products {
        padding: 80px 0;
    }
}
@media (max-width: 740px) {
    .ours-popular-products {
        padding: 50px 0;
    }
    .head-section__title {
        font-size: 42px;
    }
    .card {
        flex: 0 1 calc(100% / 2);
    }
}
@media (max-width: 480px) {
    .ours-popular-products {
        padding: 30px 0;
    }
    .ours-popular-products__container > *:not(:last-child) {
        margin-bottom: 30px;
    }
    .head-section__title {
        font-size: 38px;
    }
    .ours-popular-products__cards {
        row-gap: 30px;
    }
    .card {
        flex: 0 1 100%;
    }
}
/* --------------------------------------- */

/* --------- MOST POPULAR PRODUCT -------- */
.most-popular-product {
    font-family: "Cormorant Infant", serif;
    padding: 125px 0;
}
.most-popular-product__container {
    max-width: 1200px;
    text-align: center;
}
.most-popular-product__container > * {
    margin-bottom: 62px;
}
.most-popular-product__container > *:last-child {
    margin-bottom: 0;
}
.list-products {
    margin: 0 calc(-15 / 1170 * 100%) 76px calc(-15 / 1170 * 100%);
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

/* ------- PRODUCT ------- */
.product {
    text-align: left;
    padding: 0 calc(15 / 1200 * 100%);
    flex: 0 1 calc(100% / 4);
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.product__link-image {
    aspect-ratio: 270 / 270;
    border-radius: 5px;
    overflow: hidden;
    transition: opacity 0.3s;
}
@media (any-hover: hover) {
    .product__link-image:hover {
        opacity: 0.7;
    }
}
.product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product__content {
    flex: 1 1 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product__title {
    flex: 1 1 auto;
}
.product__link {
    display: inline-block;
    text-decoration: underline 2px rgba(0, 0, 0, 0);
    transition: text-decoration 0.4s;
}
@media (any-hover: hover) {
    .product__link:hover {
        text-decoration: underline 2px rgba(0, 0, 0, 1);
    }
}
.product__link--white {
    text-decoration: underline 2px rgba(255, 255, 255, 0);
}
@media (any-hover: hover) {
    .product__link--white:hover {
        text-decoration: underline 2px rgba(255, 255, 255, 1);
    }
}
.product__price {
}
/* ----------------------- */

.most-popular-product__button {
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    line-height: 1.87;
    display: inline-block;
    padding: 12px 42px;
    background-color: #FF7A49;
    transform: scale(1.0000001);
    transition: all 0.3s;
}
.most-popular-product__button:hover {
    box-shadow: 2px 2px 5px #818181;
    transform: scale(1.01);
}
.most-popular-product__button:active {
    box-shadow: none;
    transform: scale(1.0000001);
}
@media (max-width: 1024px) {
    .most-popular-product {
        padding: 80px 0;
    }
}
@media (max-width: 768px) {
    .product {
        flex: 0 1 calc(100% / 2);
    }
}
@media (max-width: 740px) {
    .most-popular-product {
        padding: 50px 0;
    }
    .most-popular-product__container > * {
        margin-bottom: 45px;
    }
    .list-products {
        margin-bottom: 50px;
    }
}
@media (max-width: 480px) {
    .most-popular-product {
        padding: 30px 0;
    }
    .most-popular-product__container > * {
        margin-bottom: 30px;
    }
    .product {
        flex: 0 1 100%;
    }
}
/* --------------------------------------- */

/* ------------- OUR PRODUCTS ------------ */
.our-products {
    color: #FFFFFF;
    font-family: "Raleway";
    padding: 94px 0;
    background-color: #0E333D;
}
.our-products__container {
    max-width: 1200px;
    text-align: center;
}
.our-products__container > * {
    margin-bottom: 40px;
}
.our-products__container > *:last-child {
    margin-bottom: 0;
}
.our-products__head-section {
    margin-bottom: 34px;
}
.our-products__list {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 41px;
    margin-bottom: 77px;
}
.our-products__item {
}
.our-products__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration 0.4s;
}
@media (any-hover: hover) {
    .our-products__link:hover {
        text-decoration: underline rgba(255, 255, 255, 1);
    }
}
.our-products__products {
    font-family: "Cormorant Infant";
}
@media (max-width: 1024px) {
    .our-products {
        padding: 65px 0;
    }
    .our-products__list {
        margin-bottom: 65px;
    }
}
@media (max-width: 740px) {
    .our-products {
        padding: 50px 0;
    }
}
@media (max-width: 480px) {
    .our-products {
        padding: 30px 0;
    }
    .our-products__list {
        margin-bottom: 45px;
    }
}
/* --------------------------------------- */

/* ------------------------------------------------------- */

/* ------------ WHY CHOOSE ME ------------ */
.why-choose-me {
    color: #FFFFFF;
    padding: 138px 0;
    background-color: #37393F;
    position: relative;
}
@media (max-width: 980px) {
    .why-choose-me {
        padding: 100px 0;
    }
}
@media (max-width: 840px) {
    .why-choose-me {
        padding: 70px 0;
    }
}
@media (max-width: 480px) {
    .why-choose-me {
        padding: 40px 0;
    }
}
.why-choose-me__container {
}
.why-choose-me__body {
    max-width: calc(610 / 1220 * 100%);
}
@media (max-width: 840px) {
    .why-choose-me__body {
        max-width: 100%;
    }
}
.why-choose-me__body > *:not(:last-child) {
    margin-bottom: 36px;
}
.why-choose-me__content {
    max-width: 572px;
}
.why-choose-me__content > *:not(:last-child) {
    margin-bottom: 13px;
}
.header-block {
    max-width: 370px;
}
.header-block > *:not(:last-child) {
    margin-bottom: 13px;
}
.header-block__label {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    padding-left: 18px;
    position: relative;
}
.header-block__label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
}
.header-block__title {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    line-height: 1.21;
}
.why-choose-me__text {
    font-size: 18px;
    line-height: 1.46;
}
.why-choose-me__text > *:not(:last-child) {
    margin-bottom: 10px;
}
.why-choose-me__infographics {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.infographic {
    padding: 27px calc(30 / 610 * 100%);
    background-color: #2E2F34;
    flex: 1 1 calc((100% - 15px) / 2);
    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 250px;
}
.infographic__indexes {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    flex: 0 0 79px;
    height: 79px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infographic__indexes--first {
    background: url(../img/main/why_choose_me/ellipse_icon_01.svg) center / contain no-repeat;
}
.infographic__indexes--second {
    background: url(../img/main/why_choose_me/ellipse_icon_02.svg) center / contain no-repeat;
}
.infographic__content {
    flex: 0 1 auto;
}
.infographic__content > *:not(:last-child) {
    margin-bottom: 1px;
}
.infographic__label {
    line-height: 1.35;
}
.infographic__title {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
.why-choose-me__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 15px;
}
.item-wcm {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1.65;
    padding-left: 35px;
    position: relative;
    flex: 0 1 calc((100% - 15px) / 2);
}
@media (max-width: 480px) {
    .item-wcm {
        flex: 0 1 100%;
    }
}
.item-wcm::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: url(../img/main/why_choose_me/vector_icon.svg) center / contain no-repeat;
}
.item-wcm-link {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1.65;
    flex: 0 1 calc((100% - 15px) / 2);
}
.item-wcm__span {
    font-weight: 700;
}
.item-wcm__rating {
    color: #FFB342;
    white-space: nowrap;
}
.item-wcm__index {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.item-wcm__index::after {
    content: "";
    flex: 0 0 17px;
    width: 17px;
    height: 17px;
    background: url(../img/main/why_choose_me/star_icon.svg) center / contain no-repeat;
}
.item-wcm-link__link {
    color: #40DDB6;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-transform: capitalize;
    position: relative;
}
.item-wcm-link__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #40DDB6;
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .item-wcm-link__link:hover::after {
        left: 0;
        width: 100%;
    }
}
.why-choose-me__image {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(868 / 1920 * 100%);
    height: 100%;
    object-fit: cover;
}
@media (max-width: 840px) {
    .why-choose-me__image {
        width: 0;
        height: 0;
    }
}
/* --------------------------------------- */

/* ------------------------ FOOTER ----------------------- */
.footer {
    padding: 40px 0;
    background: #3C4242;
}
.footer__container {
}
.footer__content {
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    font-size: 38px;
}
@media (max-width: 740px) {
    .footer {
        padding: 25px 0;
    }
    .footer__content {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    .footer {
        padding: 15px 0;
    }
    .footer__contentt {
        font-size: 28px;
    }
}
/* ------------------------------------------------------- */

/* ======================================================= */