// LOGO
.logo {
	display: inline-flex;
	align-items: center;
	gap: toRem(4);

	@media (any-hover:hover) {
		&:hover {
			.logo__text {
				color: $colorBrandGreen;
			}
		}
	}

	// .logo__image
	&__image {
		flex: 0 1 toRem(43);
		@include adaptiveValue(width, 43, 34, 0, $tablet, $mobileSmall);
		aspect-ratio: 43 / 30;

		img {
			@extend %imgContain;
		}
	}

	// .logo__text
	&__text {
		color: $textColorDark;
		font-family: "Poppins";
		@include adaptiveValue(font-size, 25, 16, 0, $tablet, 320);
		font-weight: 700;
		transition: color 0.3s;

		.logo--light & {
			color: $textColorLight;
		}

		@media (max-width: $mobileSmallEm) {
			display: none;
		}

		span {
			color: $colorBrandBlue;

			.logo--light & {
				color: $colorBrandGreen;
			}
		}
	}

	// .logo--light
	&--light {
		@media (any-hover: hover) {
			&:hover {
				.logo__text {
					color: $colorBrandBlue;
				}
			}
		}
	}
}

// BUTTON
.button {
	text-align: center;
	font-weight: 600;
	line-height: 1.22;
	text-transform: capitalize;
	min-width: toRem(185);
	@include adaptiveValue(min-height, 65, 50, 0, $containerWidth, $tablet);
	padding: toRem(10) toRem(15);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: toRem(10);

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}

	// .button--blue
	&--blue {
		color: $textColorLight;
		background-color: $colorBrandBlue;
	}

	// .button--green
	&--green {
		color: $textColorDark;
		background-color: $colorBrandGreen;
	}

	&--black {
		background-color: $bgColorDark;
	}

	// .button--watch
	&--watch {
		color: $textColorLight;
		padding: 0;
	}

	// .button__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue(flex-basis, 60, 40, 0, $containerWidth, $tablet);
		@include adaptiveValue(width, 60, 40, 0, $containerWidth, $tablet);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		background-color: $colorBrandBlue;

		svg {
			width: calc(20 / 60 * 100%);
			aspect-ratio: 1 / 1;
			object-fit: contain;
			fill: #FFF;
			padding-left: toRem(3);
		}
	}
}

// SOCIAL
.social {

	// .social__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: toRem(16);
	}

	// .social__item
	&__item {
		flex: 0 0 toRem(18);
	}

	// .social__link
	&__link {
		width: toRem(18);
		height: toRem(18);
		display: flex;
		align-items: center;

		@media (any-hover:hover) {
			&:hover {
				svg {
					fill: $colorBrandGreen;
				}
			}
		}

		svg {
			@extend %imgContain;
			fill: $textColorLight;
			transition: fill 0.3s;
		}
	}
}

// HEAD-SECTION
.head-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: toRem(30);

	&__header-block {
		max-width: toRem(560);
	}

	&__button {
		color: $textColorLight;
	}
}

// HEADER-BLOCK
.header-block {
	text-transform: capitalize;
	display: grid;
	gap: toRem(16);

	&--center {
		justify-items: center;
	}

	&--light {
		color: $textColorLight;
	}

	&--dark {
		color: $textColorDark;
	}

	.subscribe & {
		gap: toRem(26);
		@include adaptiveValue(gap, 26, 16)
	}

	// .header-block__label
	&__label {
		text-transform: capitalize;
		font-weight: 500;
		line-height: 1.22;
		display: inline-flex;
		gap: toEm(6, 18);

		&::before {
			content: '';
			flex: 0 0 toEm(12, 18);
			width: toEm(12, 18);
			height: toEm(12, 18);
			margin-top: toEm(5, 18);
			background-color: $colorBrandGreen;
		}

		// .header-block__label--hero
		&--hero {
			font-weight: 600;
		}

		&--blue {

			&::before {
				background-color: $colorBrandBlue;
			}
		}

	}

	// .header-block__title
	&__title {

		.header-block--center & {
			text-align: center;
		}
	}
}

// TITLE
.title {
	font-family: "Poppins";
	@include adaptiveValue(font-size, 40, 28);
	font-weight: 700;
	line-height: 1.2;
	text-transform: capitalize;

	// .title--hero
	&--hero {
		@include adaptiveValue(font-size, 60, 36, 0, $containerWidth, $tablet);
		line-height: 1.1;
	}

	// .title--smaller
	&--smaller {
		@include adaptiveValue(font-size, 30, 24);
		font-weight: 600;
	}

	// .title--item
	&--item {
		@include adaptiveValue(font-size, 20, 16, 0, $containerWidth, $tablet);
		font-weight: 600;
		line-height: 1.5;
	}
}

// SPOILER
.spoiler {

	// .spoiler__item
	&__item {
		min-height: 0;
	}

	// .spoiler__title
	&__title {
		width: 100%;
		text-align: start;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(10);
	}

	// .spoiler__icon
	&__icon {
		display: none;
	}

	// .spoiler._init
	&._init {

		// .spoiler._init .spoiler__title
		.spoiler__title {
			cursor: pointer;

			&._active {
				.spoiler__icon {
					transform: rotate(180deg);
				}
			}
		}

		// .spoiler._init .spoiler__icon
		.spoiler__icon {
			width: toRem(16);
			height: toRem(8);
			display: flex;
			transition: transform 0.3s;

			svg {
				@extend %imgContain;
				fill: currentColor;
			}
		}

		// .spoiler._init .spoiler__content
		.spoiler__content {
			padding-bottom: toRem(15);
		}
	}
}

// LIST
.list {

	// .list__item
	&__item {
		font-family: "Poppins";
		font-size: toRem(20);
		@include adaptiveValue(font-size, 20, 18);
		line-height: 1.65;
		display: flex;
		align-items: flex-start;
		gap: toRem(8);

		.solutions & {
			flex: 1 1 calc(100% / 2 - toRem(15));
			min-width: toRem(215);
		}

		&:not(:last-child) {
			@include adaptiveValue(margin-bottom, 23, 15);

			.how-we-work & {
				margin-bottom: toRem(18);
			}

			.solutions & {
				margin-bottom: 0;
			}
		}

		.how-we-work & {
			gap: toRem(16);

			&:not(:last-child) {

				.list__content {
					padding-bottom: toRem(20);
					border-bottom: 1px solid $bgColor;
				}
			}
		}
	}

	// .list__icon
	&__icon {
		flex: 0 0 toEm(27, 20);
		width: toEm(27, 20);
		height: toEm(27, 20);
		margin-top: toEm(3, 20);

		.how-we-work & {
			margin-top: toEm(6, 20);
		}

		svg {
			@extend %imgContain;
		}

		&--blue {
			svg {
				fill: $colorBrandBlue;
			}
		}

		&--green {
			svg {
				fill: $colorBrandGreen;
			}
		}
	}

	// .list__content
	// &__content {}

	// .list__title
	&__title {
		font-size: toRem(22);
		font-weight: 600;
		line-height: 1.5;
	}

	// .list__text
	&__text {
		font-family: "Inter";
		font-size: toRem(18);
		line-height: 1.56;
	}

	// .list__link
	&__link {
		color: $colorBrandGreen;
		font-weight: 600;
		text-transform: capitalize;
		@extend %linkHoverAfter;
	}
}

// RATING
.rating {
	display: inline-flex;
	align-items: center;
	gap: toRem(5);
	height: toRem(25);

	// .rating__item
	&__item {
		flex: 0 0 toRem(20);
		width: toRem(20);
		height: toRem(19);
		background: url('../img/icon/star_rating.svg') center / contain no-repeat;

		&._full {
			background: url('../img/icon/star_rating_full.svg') center / contain no-repeat;
		}

		&._part {
			position: relative;

			span {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				mask-image: url('../img/icon/star_rating_full.svg');
				background-color: #FFA722;
			}
		}
	}
}

// SLIDER
.slider {
	display: flex;
	overflow: hidden;
	position: relative;

	.project & {
		max-width: toRem(1856);
		margin-left: auto;
		margin-right: auto;
	}

	&:hover {
		>* {
			animation-play-state: paused;
		}
	}

	// &::before,
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	z-index: 2;
	// 	width: 15%;
	// 	height: 100%;
	// }

	// &::before {
	// 	left: 0;
	// 	background: linear-gradient(to right, #FFF, rgba(255, 255, 255, 0));
	// }

	// &::after {
	// 	right: 0;
	// 	background: linear-gradient(to left, #FFF, rgba(255, 255, 255, 0));
	// }

	// .slider__items
	&__items {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		animation: slide 20s linear infinite;
	}

	// .slider__item
	&__item {
		flex: 0 0 auto;

		.brands & {
			max-height: toRem(99);
			@include adaptiveValue(padding-left, 57, 20);
			@include adaptiveValue(padding-right, 57, 20);
		}

		.project & {
			@include adaptiveValue(padding-left, 20, 10);
			@include adaptiveValue(padding-right, 20, 10);
			@include adaptiveValue(width, 434, 280);
			aspect-ratio: 434 / 501;
		}
	}

	// .slider__image
	&__image {

		.brand {
			@extend %imgContain;
		}

		.project & {
			@extend %imgCover;
		}
	}
}

// TEXT GREEN
.text-green {
	color: $colorBrandGreen;
}

// TEXT BLUE
.text-blue {
	color: $colorBrandBlue;
}

// TEXT YELLOW
.text-yellow {
	color: #FFB342;
}

// TEXT WHITE
.text-white {
	color: #FFF;
}