@use "sass:math";

// Fonts
@import "_fonts.scss";
// Reset
@import "_reset.scss";
// Functions
@import "_functions.scss";
// Mixins
@import "_mixins.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// VARIABLES ------------------

// color ----------------------
$colorBrandGreen: #40DDB6;
$colorBrandBlue: #6B77E5;
$textColor: #7D7D7D;
$textColorDark: #37393F;
$textColorLight: #FFF;
$bgColor: #FFF;
$bgColorDark: #37393F;
$bgImage: #a6a6a6;

// breakpoint -----------------
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
$pcEm: toEm(1199.98);
$tabletEm: toEm(991.98);
$mobileEm: toEm(767.98);
$mobileSmallEm: toEm(479.98);

// ----------------------------

// Commons
@import "_commons.scss";

/* ===================== BASIC STYLES ==================== */

body {
	color: $textColor;
	font-family: "Inter", sans-serif;
	@include adaptiveValue(font-size, 18, 16);

	.menu-open & {
		@media (max-width: $tabletEm) {
			overflow: hidden;
		}
	}
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	max-width: toRem($containerWidth);
	padding: 0 toRem(15);
	margin: 0 auto;
}

address {
	font-style: normal;
}

/* -------------- TEMPLATES -------------- */
%imgAbsoluteCover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%imgContain {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

%imgCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	// transform: scale(1.0001);
	transition: transform 0.3s;
}

%linkHoverAfter {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: toRem(-2);
		width: 0;
		height: toRem(2);
		background-color: currentColor;
		transition: all 0.3s;
	}

	@media (any-hover: hover) {
		&:hover {
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}
}

%linkHover {
	text-decoration-line: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s;

	@media (any-hover: hover) {
		&:hover {
			text-decoration-color: currentColor;
		}
	}
}

%imgHoverScale {
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}
}

%btnHoverShadowLight {
	transition: box-shadow 0.3s;

	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 toRem(8) #F6F6F6;
		}
	}
}

/* --------------------------------------- */

/* ------------------------ HEADER ----------------------- */
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;

	// .header__top
	// &__top {}

	// .header__main
	// &__main {}
}

.top-header {
	color: $textColorLight;
	font-size: toRem(14);
	padding: toRem(10) 0;
	background-color: $bgColorDark;
	min-height: toRem(60);
	display: flex;

	@media (max-width: $tabletEm) {
		padding: toRem(8) 0;
		min-height: toRem(34);
	}

	// .top-header__container
	&__container {
		flex-basis: toRem($containerWidth);
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		@include adaptiveValue(column-gap, 50, 20, 0, $containerWidth, $tablet);
		column-gap: toRem(20);

		@media (max-width: $tabletEm) {
			justify-content: center;
		}
	}

	// .top-header__address
	&__address {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue(column-gap, 42, 20, 0, $containerWidth, $tablet);
		row-gap: toRem(8);

		@media (max-width: $tabletEm) {
			flex-wrap: nowrap;
		}
	}

	// .top-header__item
	&__item {
		justify-self: end;

		@media (max-width: $tabletEm) {
			justify-self: start;
		}
	}
}

.item-header {
	line-height: 1.21;
	display: flex;
	align-items: center;
	column-gap: toRem(10);
	transition: color 0.3s;

	@media (any-hover: hover) {
		&:hover {
			color: $colorBrandGreen;
		}
	}

	// .item-header__icon
	&__icon {
		flex: 0 0 toRem(18);
		width: toRem(18);
		height: toRem(18);
		display: flex;
		align-items: center;

		@media (max-width: $tabletEm) {
			max-width: toRem(18);
			height: toRem(18);
		}

		svg {
			flex-shrink: 0;
			stroke: $colorBrandGreen;
			@extend %imgContain;
		}
	}

	span {
		white-space: nowrap;

		@media (max-width: $tabletEm) {
			display: none;
		}
	}
}

.main-header {
	min-height: toRem(131);
	padding: toRem(10) 0;
	background-color: $bgColor;
	display: flex;
	align-items: center;

	@media (max-width: $tabletEm) {
		min-height: toRem(50);
		padding: toRem(8) 0;
	}

	// .main-header__container
	&__container {
		flex-basis: toRem($containerWidth);
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		@include adaptiveValue(column-gap, 40, 15, 0, $containerWidth, $tablet);
	}

	// .main-header__action
	&__action {
		display: flex;
		column-gap: toRem(12);
		row-gap: toRem(8);

		@media (max-width: $tabletEm) {
			grid-column: 3 / 4;
		}
	}

	// .main-header__button
	&__button {
		flex: 1 1 toRem(185);

		@media (max-width: $tabletEm) {
			font-size: toRem(14);
			min-width: toRem(100);
			min-height: toRem(34);
			padding: toRem(5) toRem(10);
		}
	}
}

.menu {
	justify-self: end;

	@media (max-width: $tabletEm) {
		font-size: toRem(22);
		position: fixed;
		right: -100%;
		top: 0;
		z-index: 20;
		width: toRem(320);
		height: calc(100svh - toRem(84));
		padding: toRem(40) toRem(20);
		margin-top: toRem(84);
		background-color: $bgColor;
		box-shadow: toRem(0) toRem(0) toRem(5) rgba(55, 57, 63, 0.6);
		overflow: auto;
		transition: right 0.4s;

		.menu-open & {
			right: 0;
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiveValue(column-gap, 40, 15, 0, $containerWidth, $tablet);
		row-gap: toRem(10);

		@media (max-width: $tabletEm) {
			flex-direction: column;
		}
	}

	// .menu__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: $colorBrandBlue;
				}
			}
		}

		@media (max-width: $tabletEm) {

			.menu-open & {
				transform: translateX(50%);
				visibility: hidden;
				opacity: 0;
				animation: show-item 0.4s ease forwards;

				@for $i from 1 through 6 {
					&:nth-child(#{$i}) {
						$delay: $i * 0.1;
						animation-delay: #{$delay}s;
					}
				}
			}
		}

		// .menu__item--active
		&--active {
			.menu__link {
				color: $colorBrandBlue;
				font-weight: 600;
			}
		}

		// .menu__item--parent
		&--parent {
			position: relative;

			.menu__link {
				display: flex;
				align-items: center;
				gap: toRem(7);
			}

			&:hover {

				@media (min-width: $tabletEm) {
					.menu__icon {
						transform: rotate(180deg);
					}

					.submenu {
						pointer-events: all;

						.submenu__list {
							.submenu__item {
								transform: translateY(0);
								visibility: visible;
								opacity: 1;
								transition: all 0.2s;

								@for $i from 1 through 4 {
									&:nth-child(#{$i}) {
										$delay: (
											$i - 1) * 0.1;
										transition-delay: #{$delay}s;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		display: inline-block;
		color: $textColorDark;
		line-height: 1.22;
		padding: toRem(10) 0;
		transition: color 0.3s;

		@media (min-width: $tabletEm) {
			text-align: center;
		}
	}

	// .menu__icon
	&__icon {
		flex: 0 0 toRem(10
		);
	width: toRem(10);
	height: toRem(6);
	display: flex;
	transition: transform 0.3s;

	svg {
		@extend %imgContain;
		fill: currentColor;
	}
}
}

.submenu {

	@media (min-width: $tabletEm) {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 20;
		pointer-events: none;
	}

	// .submenu__list
	// &__list {}

	// .submenu__item
	&__item {

		@media (min-width: $tabletEm) {
			visibility: hidden;
			opacity: 0;
			transform: translateY(100%);
			transition: background-color 0.3s;
		}
	}

	// .submenu__link
	&__link {
		color: $textColorDark;
		white-space: nowrap;
		display: inline-block;
		padding: toRem(10) 0;
		width: 100%;
		transition: all 0.3s;

		@media (min-width: $tabletEm) {
			color: $textColorLight;
			background-color: $colorBrandBlue;
			padding: toRem(10) toRem(20);
		}

		@media (any-hover: hover) {
			&:hover {
				color: $textColorDark;
				background-color: #e0e0e0;
			}
		}
	}
}

.icon-menu {
	flex: 0 0 toRem(34);
	display: inline-block;
	width: toRem(34);
	height: toRem(34);
	background-color: $colorBrandBlue;
	position: relative;

	@media (min-width: $tabletEm) {
		display: none;
	}

	span,
	&::before,
	&::after {
		width: 55%;
		height: toRem(2);
		background-color: $textColorLight;
		position: absolute;
		left: 50%;
		transition: all 0.3s;
	}

	&::before,
	&::after {
		content: "";
		transform: translateX(-50%);
	}

	span {
		top: 50%;
		transform: translate(-50%, -50%);

		.menu-open & {
			transform: scale(0);
		}
	}

	&::before {
		top: 30%;

		.menu-open & {
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	&::after {
		bottom: 30%;

		.menu-open & {
			bottom: 50%;
			transform: translate(-50%, 50%) rotate(-45deg);
		}
	}
}

@keyframes show-item {
	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}

/* ------------------------------------------------------- */

/* ------------------------- MAIN ------------------------ */
.page {
	padding-top: toRem(84);

	@media (min-width: $tabletEm) {
		padding-top: toRem(191);
	}

	// .page__we-care
	&__we-care {
		@include adaptiveValue(margin-bottom, 100, 50)
	}

	// .page__brands
	&__brands {
		@include adaptiveValue(margin-bottom, 82, 50)
	}

	// .page__we-provide
	&__we-provide {
		@include adaptiveValue(margin-bottom, 130, 50)
	}

	// .page__solutions
	&__solutions {
		@include adaptiveValue(margin-bottom, 132, 50)
	}

	// .page__subscribe
	&__subscribe {
		@include adaptiveValue(margin-bottom, 200, 50)
	}

	// .page__blog
	&__blog {
		@include adaptiveValue(margin-bottom, 150, 50)
	}

	// .page__project
	&__project {
		@include adaptiveValue(margin-bottom, 150, 50);

		>* {
			&:not(:last-child) {
				@include adaptiveValue(margin-bottom, 40, 25);
			}
		}
	}

	// .page__testimonial
	&__testimonial {
		@include adaptiveValue(margin-bottom, 275, 50)
	}

	// .page__get-business
	&__get-business {
		@include adaptiveValue(margin-bottom, 200, 50)
	}
}

/* ----------------- HERO ---------------- */
.hero {
	position: relative;

	// .hero__container
	&__container {
		max-width: toRem(1716);
	}

	// .hero__image
	&__image {
		@extend %imgAbsoluteCover;
	}

	// .hero__body
	&__body {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		@include adaptiveValue(min-height, 815, 400);
		@include adaptiveValue(padding-top, 116, 50);
		@include adaptiveValue(padding-bottom, 116, 50);
		display: flex;
		align-items: center;

		@media (min-width: $mobileEm) {
			width: calc(711 / 1686 * 100%);
			padding-right: toRem(20);
		}

		&::before {
			content: '';
			position: absolute;
			right: toRem(-15);
			top: 0;
			z-index: -1;
			width: 100vw;
			height: 100%;
			background-color: rgba(55, 57, 63, 0.91);
			backdrop-filter: blur(toRem(8));

			@media (min-width: $mobileEm) {
				right: 0;
			}
		}
	}

	// .hero__content
	&__content {
		max-width: toRem(600);

		>* {
			margin-bottom: toRem(20);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .hero__header-block
	&__header-block {
		max-width: toRem(530);
	}

	// .hero__text
	&__text {
		color: #B9B9B9;
		font-weight: 500;
		line-height: 1.46;
		max-width: toRem(480);
		@include adaptiveValue(margin-bottom, 35, 20);

		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .hero__action
	&__action {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue(gap, 30, 20, 0, $containerWidth, $tablet);
	}
}

/* --------------------------------------- */

/* --------------- WE CARE --------------- */
.we-care {

	// .we-care__container
	&__container {
		max-width: toRem(1716);
		display: flex;
		flex-direction: column;

		@media (min-width: $mobileEm) {
			flex-direction: row-reverse;
		}

		>* {
			@include adaptiveValue(padding-top, 145, 50);
			@include adaptiveValue(padding-bottom, 145, 50);
		}
	}

	// .we-care__body
	&__body {

		@media (min-width: $mobileEm) {
			flex-basis: calc(975 / 1686 * 100%);
			@include adaptiveValue(padding-left, 68, 30, 0, $containerWidth, $tablet);
		}
	}

	// .we-care__content
	&__content {

		@media (min-width: $mobileEm) {
			max-width: toRem(674);
		}

		>* {
			margin-bottom: toRem(20);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .we-care__header-block
	&__header-block {
		max-width: toRem(420);
	}

	// .we-care__text
	&__text {
		line-height: 1.46;

		P {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .we-care__list
	&__list {
		color: $textColorDark;
		@include adaptiveValue(margin-bottom, 43, 20, 0, $tablet, $mobileSmall);
	}

	// .we-care__cards
	&__cards {
		display: flex;
		gap: toRem(20);
		flex-wrap: wrap;
		@include adaptiveValue(margin-bottom, 37, 20, 0, $tablet, $mobileSmall)
	}

	// .we-care__subtitle
	// &__subtitle {}
}

.aside-we-care {
	display: flex;
	position: relative;

	@media (min-width: $mobileEm) {
		flex-basis: calc(711 / 1686 * 100%);
		justify-content: flex-end;
		@include adaptiveValue(padding-right, 68, 30, 0, $containerWidth, $tablet);
	}

	&::before {
		content: '';
		position: absolute;
		right: toRem(-15);
		top: 0;
		z-index: -1;
		width: 100vw;
		height: 100%;
		background-color: #F4F4F4;

		@media (min-width: $mobileEm) {
			right: 0;
		}
	}

	// .aside-we-care__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		@media (min-width: toRem(560)) {
			flex-direction: row;
		}

		@media (min-width: $mobileEm) {
			max-width: toRem(410);
			flex-direction: column;
		}
	}

	// .aside-we-care__image
	&__image {
		width: 100%;

		img {
			@extend %imgCover;
		}
	}

	// .aside-we-care__content
	&__content {
		>* {
			margin-bottom: toRem(15);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .aside-we-care__title
	&__title {
		color: $textColorDark;
		@include adaptiveValue(font-size, 30, 20);
		font-weight: 600;
		line-height: 1.21;
	}

	// .aside-we-care__text
	&__text {
		line-height: 1.46;
		margin-bottom: toRem(20);

		p:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	// .aside-we-care__link
	&__link {
		color: $textColorDark;
		font-weight: 600;
		line-height: 1.22;
		text-transform: capitalize;
		@extend %linkHoverAfter;
	}
}

.card-achievement {
	@include adaptiveValue(padding, 32, 20, 0, $tablet, $mobileSmall);
	border: 1px solid #E3E3E3;
	max-width: toRem(300);
	display: flex;
	gap: toRem(19);

	// .card-achievement__image
	&__image {
		flex: 0 0 toRem(40);
		width: toRem(40);
		height: toRem(40);

		img {
			@extend %imgContain;
		}
	}

	// .card-achievement__content
	&__content {
		>* {
			&:not(:last-child) {
				margin-bottom: toRem(3);
			}
		}
	}

	// .card-achievement__title
	&__title {
		color: $textColorDark;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.5;
	}

	// .card-achievement__text
	&__text {
		font-size: toRem(16);
		line-height: 1.37;
	}
}

/* --------------------------------------- */

/* ---------------- BRANDS --------------- */
.brands {

	// .brands__container
	&__container {
		padding: 0;
	}

	// .brands__slider
	// &__slider {}
}

@keyframes slide {
	0% {
		transform: translateX(0)
	}

	100% {
		transform: translateX(-100%)
	}
}

/* --------------------------------------- */

/* -------------- WE PROVIDE ------------- */
.we-provide {

	// .we-provide__container
	// &__container {}

	// .we-provide__body
	&__body {

		>* {
			@include adaptiveValue (margin-bottom, 40, 20);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .we-provide__header-block
	&__header-block {
		max-width: toRem(500);
		margin-left: auto;
		margin-right: auto;
	}

	// .we-provide__services
	&__services {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(290), 1fr));
		grid-auto-rows: 1fr;
		column-gap: toRem(32);
		row-gap: toRem(27);
	}

	// .we-provide__button
	&__button {
		font-size: toRem(25);
		line-height: 1.2;
	}
}

.card-service {
	@include adaptiveValue(padding, 30, 15);
	background-color: #F4F4F4;
	display: flex;
	justify-content: space-between;
	gap: toRem(15);

	@media (any-hover: hover) {
		&:hover {
			.card-service__icon {
				background-color: $colorBrandBlue;
			}
		}
	}

	// .card-service__content
	&__content {
		text-transform: capitalize;
		display: flex;
		flex-direction: column;
		@include adaptiveValue(gap, 27, 15);
	}

	// .card-service__title
	&__title {
		color: $textColorDark;
		@include adaptiveValue(font-size, 25, 20);
		font-weight: 600;
		line-height: 1.27;
		flex-grow: 1;
	}

	// .card-service__link
	&__link {
		color: $colorBrandBlue;
		font-weight: 600;
		line-height: 1.22;
		align-self: flex-start;
		@extend %linkHoverAfter;
	}

	// .card-service__icon
	&__icon {
		flex: 0 0 toRem(72);
		width: toRem(72);
		height: toRem(72);
		background-color: $colorBrandGreen;
		border-radius: 50%;
		overflow: hidden;
		padding: toRem(12);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

/* --------------------------------------- */

/* -------------- SOLUTIONS -------------- */
.solutions {

	@media (min-width: $mobileEm) {
		display: flex;
	}

	// .solutions__content
	&__content {
		color: $textColorLight;
		@include adaptiveValue(padding-top, 138, 50);
		@include adaptiveValue(padding-bottom, 138, 50);
		background-color: $bgColorDark;
		flex: 0 0 100%;
	}

	// .solutions__container
	&__container {
		height: 100%;
		display: flex;
		align-items: center;
	}

	// .solutions__body
	&__body {

		@media (min-width: $mobileEm) {
			width: calc(702 / 1220 * 100%);
			padding-right: toRem(20);
		}

		>* {
			@include adaptiveValue(margin-bottom, 36, 20);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .solutions__header-block
	&__header-block {
		max-width: toRem(370);
		margin-bottom: toRem(13);
	}

	// .solutions__text
	&__text {
		line-height: 1.46;
		max-width: toRem(580);

		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .solutions__cards
	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(15);
		max-width: toRem(610);
	}

	// .solutions__card
	&__card {
		flex: 1 1 calc(100% / 2 - toRem(15));
		background-color: #2E2F34;
	}

	// .solutions__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(15);
		row-gap: toRem(23);
		max-width: toRem(610);
	}

	// .solutions__image
	&__image {
		display: none;

		@media (min-width: $mobileEm) {
			display: inline-block;
			position: relative;
			flex: 0 0 calc(((100vw - 30px) * (518 / $maxWidthContainer)) + 15px);
			transform: translate(-100%, 0);
		}

		@media (min-width: toEm($containerWidth)) {
			flex: 0 0 calc(100vw - (((100vw - 1250px) / 2) + (702px + 15px)));
		}

		img {
			@extend %imgAbsoluteCover;
		}
	}
}

.card-stats {
	font-family: "Poppins";
	padding: toRem(27) toRem(30);
	display: inline-flex;
	align-items: center;
	gap: toRem(12);

	.get-business & {
		background-color: $colorBrandGreen
	}

	// .card-stats__icon
	&__icon {
		flex: 0 0 toRem(80);
		width: toRem(80);
		height: toRem(80);
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.get-business & {
			flex: 0 0 toRem(128);
			width: toRem(128);
			height: toRem(128);
		}
	}

	// .card-stats__value
	&__value {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.5;
		text-align: center;

		.how-we-work & {
			font-size: toRem(18);

			strong {
				font-size: toRem(35);
				line-height: 1.2;
			}
		}
	}

	// .card-stats__progress
	&__progress {
		@extend %imgAbsoluteCover;
		transform: rotate(-90deg);
	}

	// .card-stats__content
	// &__content {}

	// .card-stats__label
	&__label {
		font-size: toRem(16);
		line-height: 1.35;
	}

	// .card-stats__title
	&__title {
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.5;
	}

	// .card-stats__content
	&__content {
		@include adaptiveValue(font-size, 25, 18);
		line-height: 1.28;
	}
}

/* --------------------------------------- */

/* --------------- PROJECT --------------- */
.project {

	// .project__container
	&__container {

		>* {
			&:not(:last-child) {
				@include adaptiveValue(margin-bottom, 40, 25);
			}
		}
	}
}

/* --------------------------------------- */

/* ------------- TESTIMONIAL ------------- */
.testimonial {

	// .testimonial__container
	// &__container {}

	// .testimonial__body
	&__body {
		@include adaptiveValue(padding-top, 140, 40);
		border-top: 1px solid #C5C5C5;
		display: flex;
		flex-wrap: wrap;
		column-gap: calc(38 / 1220 * 100%);
		// @include adaptiveValue(gap, 38, 20)
		row-gap: toRem(25);
	}

	// .testimonial__content
	&__content {
		flex: 1 1 calc(324 / 1220 * 100%);
		min-width: toRem(260);

		>* {
			margin-bottom: toRem(23);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .testimonial__header-block
	&__header-block {
		max-width: toRem(500);
	}

	// .testimonial__text
	&__text {
		line-height: 1.44;

		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .testimonial__cards
	&__cards {
		flex: 1 1 calc(858 / 1220 * 100%);
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		column-gap: calc(36 / 858 * 100%);
		@include adaptiveValue(row-gap, 36, 20);
	}

	// .testimonial__card
	&__card {
		flex: 1 1 calc(411 / 858 * 100%);
		min-width: toRem(290);

		@media (max-width: $mobileSmallEm) {
			margin-right: toRem(-15);
			margin-left: toRem(-15);
		}
	}
}

.card-testimonial {
	background-color: #F6F6F6;
	@include adaptiveValue(padding-top, 50, 30);
	@include adaptiveValue(padding-bottom, 50, 30);
	@include adaptiveValue(padding-right, 37, 20);
	@include adaptiveValue(padding-left, 37, 20);

	>* {
		@include adaptiveValue(margin-bottom, 34, 20);

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .card-testimonial__person
	&__person {
		display: flex;
		gap: toRem(16);
	}

	// .card-testimonial__image
	&__image {
		flex: 0 0 toRem(101);
		width: toRem(101);
		height: toRem(101);
		border-radius: 50%;
		overflow: hidden;

		img {
			@extend %imgCover;
		}
	}

	// .card-testimonial__info
	&__info {

		>* {
			margin-bottom: toRem(1);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .card-testimonial__name
	&__name {
		font-family: 'Poppins';
		font-size: toRem(20);
		color: $textColorDark;
		font-weight: 600;
		line-height: 1.5;
	}

	// .card-testimonial__position
	&__position {
		font-size: toRem(16);
		line-height: 1.375;
	}

	// .card-testimonial__text
	&__text {
		@include adaptiveValue(font-size, 22, 18);
		font-style: italic;
		line-height: 1.46;

		p {

			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}

/* --------------------------------------- */

/* ------------- GET BUSINESS ------------ */
.get-business {
	background-color: #6B77E5;

	// .get-business__container
	// &__container {}

	// .get-business__body
	&__body {
		@include adaptiveValue(padding-top, 123, 40);
		@include adaptiveValue(padding-bottom, 123, 40);
		display: flex;
		flex-wrap: wrap;
		column-gap: calc(53 / 1220 * 100%);
		row-gap: toRem(50);
	}
}

.how-we-work {
	flex: 1 1 calc(587 / 1220 * 100%);
	color: $textColorLight;

	>* {
		margin-bottom: toRem(20);

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .how-we-work__header-block
	&__header-block {
		max-width: toRem(426);
	}

	// .how-we-work__text
	&__text {
		line-height: 1.44;
		margin-bottom: toRem(34);

		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .how-we-work__card-stats
	&__card {
		background-color: $bgColorDark;
		@include adaptiveValue(padding, 35, 15);
		@include adaptiveValue(margin-bottom, 50, 30);

		@media (max-width: toRem(420)) {
			margin-right: toRem(-15);
			margin-left: toRem(-15);
		}
	}

	// .how-we-work__list
	&__list {
		max-width: toRem(514);
	}
}

.book-now {
	flex: 1 1 calc(580 / 1220 * 100%);

	>* {
		margin-bottom: toRem(24);

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .book-now__header-block
	&__header-block {
		max-width: toRem(365);
	}
}

.form {
	background-color: $bgColor;
	@include adaptiveValue(padding, 58, 15);
	display: grid;
	gap: toRem(25);

	// .form__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(23);
		row-gap: toRem(30);
	}

	// .form__input
	&__input {
		min-width: toRem(200);
		flex: 1 1 100%;
		min-height: toRem(65);
		padding: 0 toRem(33);

		// .form__input--half
		&--half {
			flex: 1 1 calc(220 / 464 * 100%);
		}
	}

	// .form__textarea
	&__textarea {
		flex: 1 1 100%;
		min-height: toRem(139);
		padding: toRem(11) toRem(33);
		resize: vertical;
	}

	// .form__button
	&__button {
		justify-self: start;

		@media (max-width: toEm(375)) {
			width: 100%;
		}
	}
}

.input {
	color: $textColorDark;

	.book-now & {
		background-color: #F8F8F8;
		border: toRem(1) solid #DDDDDD;
	}

	&[type="date"] {
		padding-right: toRem(18);

		&::-webkit-calendar-picker-indicator {
			cursor: pointer;
		}
	}

	&[type="time"] {
		padding-right: toRem(18);
	}

	&:focus {
		&::placeholder {
			visibility: hidden;
			opacity: 0;
		}
	}

	&::placeholder {
		color: $textColorDark;
		line-height: 1.22;
		transition: opacity 0.3s;
	}
}

.team {
	min-height: toVmax(734);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	// .team__body
	&__body {
		width: toVmax(601);
		min-height: toVmax(222);
		padding: toRem(20);
		background-color: rgba(55, 57, 63, 0.8);
		backdrop-filter: blur(toRem(8));
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 5;
	}

	// .team__title
	&__title {
		color: $textColorLight;
		text-align: center;
	}

	// .team__image
	&__image {
		@extend %imgAbsoluteCover
	}
}

/* --------------------------------------- */

/* ----------------- BLOG ---------------- */
.blog {

	// .blog__container
	&__container {
		>* {
			&:not(:last-child) {
				@include adaptiveValue(margin-bottom, 40, 25);
			}
		}
	}

	// .blog__posts
	&__posts {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(toRem(390), 100%), 1fr));
		@include adaptiveValue(column-gap, 36, 15);
		row-gap: toRem(36);
	}
}

.post {

	>* {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .post__head
	// &__head {}

	// .post__image
	&__image {
		aspect-ratio: 592 / 363;

		img {
			@extend %imgCover;
		}
	}

	// .post__info
	&__info {
		white-space: nowrap;
		display: flex;
		flex-wrap: wrap;
		line-height: 1.22;
	}

	// .post__date
	&__date {
		color: $textColorLight;
		font-weight: 600;
		flex: 1 1 calc(220 / 592 * 100%);
		@include adaptiveValue(min-height, 65, 50, 0, $containerWidth, $tablet);
		padding: toRem(8);
		background-color: $colorBrandBlue;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .post__tags
	&__tags {
		color: #208068;
		background-color: #2D9E82;
		flex: 1 1 calc(372 / 592 * 100%);
		display: flex;
		flex-wrap: wrap;
		gap: toRem(2);
	}

	// .post__tag
	&__tag {
		flex: 1 1 auto;
	}

	// .post__content
	&__content {
		max-width: toRem(567);

		>* {
			margin-bottom: toRem(15);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .post__title
	&__title {
		color: #37393F;
		line-height: 127%;
	}

	// .post__text
	&__text {
		margin-bottom: toRem(25);
		line-height: 1.44;

		P {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .post__link
	&__link {
		color: $colorBrandBlue;
		font-weight: 600;
		line-height: 1.22;
		@extend %linkHoverAfter
	}
}

.tag {
	@include adaptiveValue(min-height, 65, 50, 0, $containerWidth, $tablet);
	padding: toRem(8);
	background-color: $colorBrandGreen;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toEm(5, 18);
	transition: all 0.3s;

	@media (any-hover: hover) {
		&:hover {
			color: $textColorLight;
			background-color: $colorBrandBlue;

			svg {
				fill: $textColorLight;
			}
		}
	}

	// .tag__icon
	&__icon {
		flex: 0 0 toEm(14, 18);
		width: toEm(14, 18);
		height: toEm(14, 18);
		display: flex;
		align-items: center;

		svg {
			fill: #207F68;
			@extend %imgContain;
			transition: all 0.3s;
		}
	}
}

/* --------------------------------------- */

/* -------------- SUBSCRIBE -------------- */
.subscribe {

	// .subscribe__container
	&__container {
		max-width: toRem($maxWidthContainer);
		padding: 0;
	}

	// .subscribe__body
	&__body {
		@include adaptiveValue(padding-top, 96, 50);
		@include adaptiveValue(padding-bottom, 96, 50);
		padding-right: toRem(15);
		padding-left: toRem(15);
		position: relative;
		display: flex;
		justify-content: center;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: rgba(64, 221, 182, 0.75);
			backdrop-filter: blur(5px);
		}
	}

	// .subscribe__image
	&__image {
		@extend %imgAbsoluteCover;
		z-index: -1;
	}

	// .subscribe__content
	&__content {
		max-width: toRem(740);
		text-align: center;

		>* {
			@include adaptiveValue(margin-bottom, 35, 20);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .subscribe__header-block
	&__header-block {
		margin-bottom: toRem(10);
	}

	// .subscribe__text
	&__text {
		color: $textColorDark;
		line-height: 1.46;

		p {

			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}

/* --------------------------------------- */

/* ------------------------------------------------------- */

/* ------------------------ FOOTER ----------------------- */
.footer {
	color: $textColorLight;
	background-color: $bgColorDark;
	padding: toRem(95) 0;
	@include adaptiveValue(padding-top, 95, 25, 0, $containerWidth, $tablet);
	@include adaptiveValue(padding-bottom, 95, 25, 0, $containerWidth, $tablet);

	// .footer__container
	&__container {
		>* {
			&:not(:last-child) {
				border-bottom: toRem(1) solid #6C6D72;
			}
		}
	}

	// .footer__top
	// &__top {}
}

.top-footer {
	@include adaptiveValue(padding-bottom, 53, 15, 0, $containerWidth, $tablet);

	// .top-footer__body
	&__body {
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: space-between;
		align-items: center;
		gap: toRem(20);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, 44px);
		// grid-auto-rows: auto;
		// grid-auto-flow: column dense;
		justify-content: end;
		@include adaptiveValue(column-gap, 60, 20, 0, $containerWidth, $tablet);
		row-gap: toRem(15);

		@media (min-width: $tabletEm) {
			grid-template-columns: repeat(3, auto);
		}
	}
}

.item-address {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: toRem(10);

	@media (any-hover: hover) {
		&:hover {
			.item-address__icon {
				background-color: #605959;
			}

			.item-address__content {
				color: $colorBrandGreen;
			}
		}
	}

	@media (max-width: $tabletEm) {
		grid-template-columns: auto;
	}

	// .item-address__icon
	&__icon {
		@include adaptiveValue(width, 68, 44, 0, $containerWidth, $tablet);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
		background-color: #4C4D52;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;

		svg {
			width: calc(28 / 68 * 100%);
			aspect-ratio: 1 / 1;
			object-fit: contain;
			fill: $colorBrandGreen;
			stroke: $colorBrandGreen;
		}
	}

	// .item-address__content
	&__content {
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		row-gap: toRem(3);
		transition: color 0.3s;

		@media (max-width: $tabletEm) {
			display: none;
		}
	}

	// .item-address__title
	// &__title {}

	// .item-address__info
	&__info {
		@include adaptiveValue (font-size, 18, 14, 0, $containerWidth, $tablet);
		line-height: 1.22;
	}
}

.main-footer {
	@include adaptiveValue(padding-top, 50, 20);
	@include adaptiveValue(padding-bottom, 50, 20);

	// .main-footer__body
	&__body {
		display: grid;
		grid-template-columns: 1fr calc(479 / 1220 * 100%);
		@include adaptiveValue(column-gap, 82, 25, 0, $containerWidth, $tablet);
		row-gap: toRem(25);

		@media (max-width: toEm(860)) {
			grid-template-columns: 1fr;
		}
	}

	// .main-footer__spoiler
	&__spoiler {
		// display: grid;
		// grid-template-columns: 1fr;
		// gap: toRem(20);

		@media (min-width: $mobileSmallEm) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: stretch;
			gap: toRem(25);
		}

		@media (min-width: toEm(539.98)) {
			grid-template-columns: repeat(3, auto);
		}

		@media (min-width: $tabletEm) {
			justify-content: space-between;
		}

		>* {
			&:not(:last-child) {
				border-bottom: 0.0625rem solid #6C6D72;

				@media (min-width: $mobileSmallEm) {
					border-bottom: none;
				}
			}
		}

		.spoiler__item {
			>* {
				margin-bottom: toRem(15);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.spoiler__title {
			color: $colorBrandGreen;
			padding-left: toEm(18, 20);
			margin-bottom: toEm(13, 20);
			cursor: default;
			position: relative;

			@media (max-width: $mobileSmallEm) {
				line-height: 2.5;
				margin-bottom: 0;
			}

			&::before {
				content: "";
				position: absolute;
				left: toRem(0);
				top: toRem(15);
				width: toEm(13, 20);
				height: toEm(13, 20);
				background-color: $colorBrandBlue;

				@media (min-width: $mobileSmallEm) {
					top: toEm(8, 20);
				}
			}
		}

		.spoiler__link {
			@include adaptiveValue(font-size, 18, 14, 0, $containerWidth, $tablet);
			line-height: 2.5;
			display: inline-block;
			transition: color 0.3s;

			@media (any-hover: hover) {
				&:hover {
					color: $colorBrandGreen;
				}
			}

			@media (min-width: $mobileSmallEm) {
				line-height: 2.22;
			}
		}
	}
}

.form-subscribe {
	align-self: start;
	max-width: toRem(479);
	@include adaptiveValue(padding-top, 42, 20, 0, $containerWidth, $tablet);
	@include adaptiveValue(padding-bottom, 42, 20, 0, $containerWidth, $tablet);
	@include adaptiveValue(padding-right, 36, 20, 0, $containerWidth, $tablet);
	@include adaptiveValue(padding-left, 36, 20, 0, $containerWidth, $tablet);
	background-color: #474950;

	>* {
		margin-bottom: toRem(10);

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .form-subscribe__title
	&__title {
		margin-bottom: toEm(6, 20);
	}

	// .form-subscribe__text
	&__text {
		@include adaptiveValue(font-size, 18, 14, 0, $containerWidth, $tablet);
		line-height: 2.22;
		margin-bottom: toEm(10, 18);
	}

	// .form-subscribe__line
	&__line {
		display: flex;
		row-gap: toRem(10);

		@media (max-width: $tabletEm) {
			flex-wrap: wrap;
		}
	}

	// .form-subscribe__input
	&__input {
		@include adaptiveValue(min-height, 65, 50, 0, $containerWidth, $tablet);
		padding-top: toRem(8);
		padding-bottom: toRem(8);
		@include adaptiveValue(padding-right, 27, 15, 0, $containerWidth, $tablet);
		@include adaptiveValue(padding-left, 27, 15, 0, $containerWidth, $tablet);
		flex: 1 1 calc(264 / 407 * 100%);
	}

	// .form-subscribe__button
	&__button {
		flex: 1 0 toRem(143);
		min-width: auto;
	}
}

.copyright {

	// .copyright__title
	// &__title {}

	// .copyright__body
	&__body {
		@include adaptiveValue(font-size, 18, 14, 0, $containerWidth, $tablet);
		line-height: 1.44;
		@include adaptiveValue(padding-top, 22, 15);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(20);

		@media (min-width: $tabletEm) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	// .copyright__content
	&__content {
		text-align: center;
	}

	.social {
		display: flex;
		gap: toRem(12);

		&::before {
			content: "Follow :";
			white-space: nowrap;
		}
	}
}

/* ------------------------------------------------------- */

/* ======================================================= */